.home {
  background: rgb(247, 247, 247);
}
.header {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 20px;
  background: palevioletred;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner {
  height: 60%;
  width: 100%;
  background-image: url("./prepping.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3); */
}
.display {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
