.search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
.search-bar {
  outline: none;
  height: 30px;
  border: none;
  border-bottom: 2px solid black;
  font-size: 24px;
  background: transparent;
  width: 50%;
}
